{:paths [".build"]
 :deps {io.github.borkdude/gh-release-artifact
        {:git/sha "db5e79559fdbfa009ed4a0921079e20e1e76b269"}}
 :tasks
 {uber (clojure "-T:build uber")
  release-artifact {:task (exec 'release-artifact/release)}}}
