{:deps {com.cognitect/transit-clj {:mvn/version "1.0.324"}
        buddy/buddy-core {:mvn/version "1.9.0"}
        nrepl/bencode {:mvn/version "1.1.0"}
        babashka/pods {:git/url "https://github.com/babashka/pods"
                       :sha "22f200ef3006da90971e3bafa794985918b65fea"}}
 :aliases {:uberjar
           {:replace-deps ; tool usage is new in 2.x
            {seancorfield/depstar {:git/url "https://github.com/borkdude/depstar"
                                   :sha "70ce150dfd3072f8f7ffbad21233139b3cde388d"}
             #_{:mvn/version "2.0.161"}}
            :ns-default hf.depstar
            :exec-fn uberjar
            :exec-args {:jar pod-babashka-buddy.jar
                        :compile-ns [pod.babashka.buddy]}}
           :native {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {org.clojure/clojure {:mvn/version "1.10.2-rc1"}}}}}
