{:deps    {com.cognitect/transit-clj {:mvn/version "1.0.324"}
           buddy/buddy-core          {:mvn/version "1.10.413"}
           buddy/buddy-sign          {:mvn/version "3.4.1"}
           nrepl/bencode             {:mvn/version "1.1.0"}
           babashka/pods             {:git/url "https://github.com/babashka/pods"
                                      :sha     "22f200ef3006da90971e3bafa794985918b65fea"}}

 :aliases {:native {:jvm-opts   ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

           :build ;; added by neil
           {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
            :ns-default build}}}
